.title {
    max-width: 1200px;
    margin: 0 auto 30px auto;
    padding: 0 15px;
}





.header {
    position: sticky;
    top: 0;
    background: #fff;
    width: 100%;
    border-bottom: 1px solid transparent;

    z-index: 999;
}

.header.on {
    border-bottom: 1px solid #ddd
}

.header img {
    height: 36px;
}


.header .header_wrap {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    transition: 0.5s;

}

.header.on .header_wrap {
    height: 60px;



}

.gnb ul {
    display: flex;
    gap: 70px;
    font-size: 18px;

}

.itm {
    position: relative;
    height: 500px;
}

.mainvisual .mainslide .itm01 {
    background: url(../images/main01.jpg)no-repeat center center/cover;

}

.mainvisual .mainslide .itm02 {
    background: url(../images/main02.jpg)no-repeat center center/cover;

}

.mainvisual .mainslide .itm03 {
    background: url(../images/main03.jpg)no-repeat center center/cover;

}

.mainvisual .mainslide .itm04 {
    background: url(../images/main04.png)no-repeat center center/cover;

}

.mainvisual .mainslide .itm05 {
    background: url(../images/main05.jpg)no-repeat center center/cover;

}



.mainvisual .mainslide .slick-dots {
    position: absolute;
    bottom: 20px;

    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;



}

.mainvisual .mainslide .slick-dots>li {
    display: inline-block;
    margin: 0 2px;
    width: 10px;
    height: 10px;

    background: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
}

.mainvisual .mainslide .slick-dots li.slick-active {
    width: 14px;
    height: 14px;
    background: #fff;
    margin: 0 10px -2px 0;
}

.mainvisual .mainslide .slick-dots button {
    display: none;
}

.mainmenu {
    padding: 100px 0;
}

.mainmenu .title h2 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

.mainmenu .menu {
    border-bottom: 1px solid #ddd;
}





.mainmenu .menu .menu_bar {
    display: flex;
    justify-content: space-between;
    margin: 0 0 50px 0;



}

.mainmenu .menu .menu_bar li {
    background: rgba(0, 0, 0, 0.2);
    color: #333;
    width: 388px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 26px;
    font-weight: 300;


}

.mainmenu .menu .menu_bar li.on {
    background: #111;
    color: #fff;
    transition: 0.5s;
}











.mainmenu .menu .pz_menu {
    margin: 0 0 40px 0;
}


.mainmenu .menu .pz_menu li {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    height: 0;
    overflow: hidden;
}

.mainmenu .menu .pz_menu li.on {
    height: auto;
}

.mainmenu .menu .pz_menu .img_box h3 {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    margin: 18px 0;
}

.mainmenu .menu .pz_menu .img_box span {
    color: #fff;
    background: #ff0000d0;
    font-size: 9px;
    font-weight: 500;
    border-radius: 4px;
    padding: 0 6px;
    margin: 0 0 0 2px;
}

.mainmenu .menu .pz_menu .img_box p {
    font-size: 14px;
    line-height: 1.4;

}

.mainmenu .menu .pz_menu figure {
    margin: 0 0 10px 0;
}




.maincontent {
    padding: 100px 0;
}

.maincontent .content {
    display: grid;
    top: 0;
    left: 0;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;





}





.maincontent .content .order a {
    position: relative;
    display: block;

    margin: 0 0 15px 0;

}





.maincontent .content .order strong {

    font-weight: 400;
    font-size: 42px;
    margin: 0 10px 0 0;

}



.maincontent .content .order a>i {

    position: absolute;
    color: #fff;

    border-radius: 100%;
    font-size: 16px;


    padding: 12px;

}

.maincontent .content .box01 i {
    background: #ff143c;

}

.maincontent .content .box02 i {
    background: #1382ff;

}

.maincontent .content .box03 i {
    background: #000
}

.maincontent .content .order p {
    line-height: 1.4;
    color: #888;
    padding: 0;
}

.maincontent .content .box01 strong {
    color: #ff143c;
}

.maincontent .content .box02 strong {
    color: #1382ff;
}



.mainevent {
    padding: 100px 0;
    background: #ddd;


}

.mainevent .event {
    display: flex;
    justify-content: space-between;
}

.mainevent .login01 h2 {
    margin: 0 0 30px 0;
}


.mainevent .login01 p {
    font-size: 28px;
    line-height: 1.4;
}

.mainevent .login01 .q {
    font-size: 28px;
    color: #238ece;
}

.mainevent .log {
    display: inline;
    color: #fff;
    background: #000;
    padding: 8px 30px;
    border-radius: 20px;
}

.mainevent .login02 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

}

.mainbanner {
    padding: 100px 0;

}

.mainbanner .banner {
    display: flex;
    justify-content: space-between;
}





.footer {
    background: #f9f9f9;


}

.footer .ft {
    padding: 30px 0;
    color: #777;
}

.footer .ft .ft_order {
    margin: 30px 0;
    color: #000;

}

.footer .ft .ft_order img {
    height: 26px;
    width: 123px;

}

.footer .ft .ft_order span {
    font-size: 26px;
    font-weight: 500;
}

.footer .ft .top {
    display: flex;
    margin: 0 0 30px 0;
    justify-content: space-between;
}

.footer .ft .top .dl {
    color: #000;


}

.footer .ft .top .dl span {
    font-size: 12px;
    font-weight: 300;
}

.footer .ft .top .dl i {
    font-size: 26px;
}

.footer .ft .top .b {
    color: #000;
    font-weight: 500;
}

.footer .ft .top ul {
    display: flex;
    gap: 30px;
}

.footer .ft .bottom {
    display: flex;
    justify-content: space-between;
    line-height: 1.4;
    font-size: 12px;
}

.footer .ft .bottom .icon {
    font-size: 26px;

}